@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&family=Raleway:wght@500&display=swap");
@font-face {
  font-family: "Jenna Sue";
  src: url("../fonts/JennaSue.eot") format("eot"),
    url("../fonts/JennaSue.woff") format("woff"),
    url("../fonts/JennaSue.ttf") format("truetype"),
    url("../fonts/JennaSue.svg#JennaSue") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import "slick.scss";
@import "settings";
@import "../node_modules/foundation-sites/scss/foundation.scss";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

@include foundation-everything;
// font-family: 'Jenna Sue', arial;
// font-family: Lato, sans-serif;
// font-family: Raleway, sans-serif;
body {
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
span {
  margin: 0;
  padding: 0;
}
.ba-home {
  position: relative;
  &__logo {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: fit-content;
    z-index: 2;
    padding: 0 20px;
    @include breakpoint(medium) {
      top: 92px;
      padding: 0;
    }
  }
  &__arrow-down {
    position: absolute;
    bottom: 72px;
    left: 10px;
    right: 0;
    z-index: 2;
    text-align: center;
    height: fit-content;
    @include breakpoint(medium) {
      bottom: 158px;
    }
  }
}
.ba-slick {
  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-end;
    &:after {
      content: " ";
      background-image: url(../img/home-pad.png);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
  &__text {
    text-transform: uppercase;
    text-align: center;
    font: 400 20px/1.13 Lato, sans-serif;
    color: $white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
    white-space: pre-line;
    padding-bottom: 147px;
    @include breakpoint(medium) {
      font: 400 30px/1.13 Lato, sans-serif;
      padding-bottom: 258px;
    }
  }
  &__nav {
    display: none;
    @media screen and (min-width: 640px) {
      display: unset;
    }
  }
  &__arrow {
    position: absolute;
    display: inline-block;
    z-index: 1;
    height: 22px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  &__next {
    top: 39px;
    right: 37px;
  }
  &__prev {
    top: 39px;
    right: 64px;
  }
  &__slide {
    min-height: 85.4vh;
  }
}
.first {
  background-image: url(../img/Slide1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @include breakpoint(xlarge) {
    background-position: unset;
  }
}
.second {
  background-image: url(../img/Slide2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @include breakpoint(xlarge) {
    background-position: unset;
  }
}
.ba-header {
  background-color: $black;
  position: absolute;
  top: calc(100vh - 50px);
  width: 100%;
  z-index: 15;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  &.is-active {
    position: fixed;
    z-index: 15;
  }
  &__logo {
    vertical-align: baseline;
    width: 30%;
    position: relative;
    z-index: 15;
  }
}
.hamburger {
  z-index: 15;
  outline: none;
}
.ba-nav {
  position: fixed;
  top: 100%;
  left: 0;
  height: 100%;
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  &.is-active {
    transition: all 0.5s ease 0s;
    top: 0;
    background: #000000;
  }
  @include breakpoint(medium) {
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    @include breakpoint(medium) {
    }
  }
  &__item {
    padding: 0;
  }
  &__link {
    font: 500 26px/2 Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    &:active,
    &:focus,
    &:hover {
      color: #f41353;
    }
    @include breakpoint(medium) {
      font: 500 16px/2 Raleway, sans-serif;
    }
  }
}
@include breakpoint(medium) {
  .ba-header {
    top: calc(100vh - 114px);
    height: 114px;
    padding-left: 60px;
    padding-right: 40px;
    &__logo {
      padding-top: 21px;
      width: 100%;
    }
  }
  .ba-nav {
    margin: 0;
    position: unset;
    background-color: unset;
    width: unset;
    overflow: unset;
    display: block;
    padding-top: 42px;
    &.is-active {
      transition: all 0.5s ease 0s;
      top: 0;
      background: #000000;
    }
    &__list {
      flex-direction: row;
      list-style: none;
      width: unset;
      margin: 0;
      padding: 0;
      text-align: unset;
      overflow: unset;
    }
    &__item {
      padding: 0;
      padding-right: 33px;
      &:last-child {
        padding-right: 0;
      }
    }
    &__link {
      font: 500 16px/2 Raleway, sans-serif;
      text-decoration: none;
      color: $white;
      &:after {
        display: block;
        content: "";
        height: 4px;
        opacity: 0;
        margin-top: 10px;
        transform: translateY(-100%);
        background-color: #f41353;
        transition: 0.3s ease-in-out;
      }
      &:hover:after,
      &:active:after,
      &:focus:after {
        opacity: 1;
        transform: translateY(0);
      }
      &:active,
      &:focus,
      &:hover {
        color: #f41353;
      }
      @include breakpoint(medium) {
        font: 500 16px/2 Raleway, sans-serif;
      }
    }
  }
}
.ba-over {
  background-image: url(../img/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  @include breakpoint(medium) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include breakpoint(large) {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  &__heading {
    font: 300 30px/1 Lato, sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 25px;
    @include breakpoint(medium) {
      font: 300 40px/1 Lato, sans-serif;
      white-space: pre-wrap;
    }
    @include breakpoint(large) {
      font: 300 50px/1 Lato, sans-serif;
    }
  }
  &__subheading {
    font: 400 13px/1.61 Lato, sans-serif;
    font-style: italic;
    color: #f41353;
    padding-bottom: 57px;
    font-style: italic;
    @include breakpoint(large) {
      font: 400 18px/1.61 Lato, sans-serif;
      font-style: italic;
    }
  }
  &__wrapper {
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    @include breakpoint(medium) {
      flex-direction: row;
      padding-bottom: 30px;
    }
  }
  &__photo {
    border: 1px solid #fff;
    max-width: min-content;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    @include breakpoint(medium) {
      padding-top: 5px;
      padding-left: 35px;
    }
  }
  &__paragraph {
    color: #fff;
    text-align: justify;
    font: 300 14px/1.61 Lato, sans-serif;
    @include breakpoint(medium) {
      font: 300 12px/1.61 Lato, sans-serif;
    }
    @include breakpoint(large) {
      font: 300 14px/1.61 Lato, sans-serif;
    }
  }
  &__sign {
    padding-right: 30px;
    padding-top: 14px;
  }
  &__signature {
    font: 400 37px/1.7 "Jenna Sue", sans-serif;
    color: #fff;
    text-align: right;
    padding-right: 70px;
  }
  &__name {
    font: 400 46px/1.3 "Jenna Sue", sans-serif;
    color: #fff;
    text-align: right;
  }
}
.ba-invitation {
  background: url(../img/overlay.png), url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    @include breakpoint(medium) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include breakpoint(large) {
      padding-top: 100px;
      padding-bottom: 68px;
    }
  }
  &__first-question {
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.75);
    font: 300 25px/1.5 Lato, sans-serif;
    text-align: center;
    @include breakpoint(medium) {
      font: 300 50px/1.5 Lato, sans-serif;
    }
  }
  &__second-question {
    text-transform: uppercase;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.75);
    font: 300 26px/1.2 Lato, sans-serif;
    padding-bottom: 20px;
    text-align: center;
    @include breakpoint(medium) {
      font: 300 60px/1.2 Lato, sans-serif;
    }
  }
  &__contact {
    font: 400 16.5px/0.877 Lato, sans-serif;
    display: inline-block;
    background-color: #f41353;
    padding: 15px 35px;
    position: relative;
    &:after {
      content: " ";
      height: 30px;
      width: 30px;
      position: absolute;
      background-color: #f41353;
      top: 7px;
      left: 92%;
      transform: rotate(45deg);
    }
    &:hover {
      transform: skew(-10deg);
    }
  }
}
.ba-prijzen {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-bottom: 100px;
  &__title {
    text-transform: uppercase;
    font: 300 40px/1 Lato, sans-serif;
    padding-top: 75px;
    padding-bottom: 10px;
    @include breakpoint(large) {
      font: 300 50.31px/1 Lato, sans-serif;
    }
  }
  &__owner {
    color: #f41353;
    font: 400 12px/1.61 Lato, sans-serif;
    padding-bottom: 13px;
    font-style: italic;
    @include breakpoint(large) {
      font: 400 18px/1.61 Lato, sans-serif;
      font-style: italic;
    }
  }
  &__infornation {
    font: 400 12px/1.71 Lato, sans-serif;
    padding-bottom: 40px;
    white-space: pre-line;
    @include breakpoint(large) {
      font: 400 14px/1.71 Lato, sans-serif;
    }
  }
  &__heading {
    text-transform: uppercase;
    font: 300 16px/2.2 Lato, sans-serif;
    border-bottom: 1px solid #fff;
    display: inline-block;
    @include breakpoint(large) {
      font: 300 22px/2 Lato, sans-serif;
    }
  }
  &__description {
	 font: 400 14px/1.77 Lato, sans-serif;
	 margin: auto;
	 @include breakpoint(large) {
		 max-width: 76%;
		 padding-bottom: 25px;
	 }
	 &:last-child{
		padding-bottom: 0;
	 }
  }
}
.large-offset-2 {
  @include breakpoint(large) {
    margin-left: 47px;
  }
}
.ba-price {
  padding-right: 0;
  padding-left: 0;
  font: 400 14px/2 Lato, sans-serif;
  padding-top: 20px;
  padding-bottom: 50px;

  @include breakpoint(medium) {
    padding-left: 87px;
  }
  &__centimeters {
    justify-content: flex-end;
    align-items: center;
    color: #f41353;
    font: 700 14px/2 Lato, sans-serif;
    padding-bottom: 25px;
    @include breakpoint(large) {
      max-width: 48px;
      padding-bottom: 0;
    }
  }
  &__col {
    max-width: 113px;
    padding-bottom: 25px;
    @include breakpoint(medium) {
    }
    @include breakpoint(large) {
      padding-bottom: 0;
    }
  }
  &__heading {
    display: inline-block;
    padding: 4px 0;
    background-color: #f41353;
    position: relative;
    margin-bottom: 17px;
    &:after {
      content: " ";
      height: 8px;
      width: 8px;
      position: absolute;
      background-color: #f41353;
      bottom: -4px;
      left: 50%;
      transform: rotate(45deg);
    }
  }
}
.ba-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @include breakpoint(medium) {
    flex-direction: row;
  }
  &__photo {
    max-width: 100%;
    @include breakpoint(medium) {
      max-width: 50%;
    }
    @include breakpoint(large) {
      width: 20%;
    }
  }
}
.ba-foto {
  background-color: #f41353;
  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    @include breakpoint(large) {
      height: 247px;
    }
  }
  &__title {
    text-transform: uppercase;
    font: 300 50px/1 Lato, sans-serif;
    color: #fff;
  }
}
.ba-contact {
  background-image: url(../img/bg-contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 126px;
  &__title {
    font: 300 50px/1 Lato, sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 20px;
  }
  &__description {
    font: 400 16px/1.5 Lato, sans-serif;
    white-space: pre-line;
    color: #f41353;
    padding-bottom: 55px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    @include breakpoint(medium) {
      flex-direction: row;
    }
  }
  &__conection {
    width: 100%;
    padding-left: 10px;
	 padding-right: 10px;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 padding-bottom: 35px;
    @include breakpoint(medium) {
      width: 50%;
      padding-left: 12px;
		padding-right: 88px;
		padding-bottom: 0;
    }
  }
  &__location {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include breakpoint(medium) {
      width: 50%;
    }
  }
  &__map {
    width: 100%;
    height: 300px;
    background-color: grey;
    @include breakpoint(medium) {
      width: 90%;
      height: 320px;
    }
    @include breakpoint(large) {
      width: 468px;
      height: 350px;
    }
  }
  &__adress {
    align-self: flex-start;
    white-space: pre-line;
    color: #fff;
	 font: 400 14px/1.7 Lato, sans-serif;
	 padding-top: 10px;
	 padding-left: 40px;
  }
}
.ba-form {
  text-align: right;
  &__field {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 4px;
    height: 26px;
    &::placeholder {
      color: #fff;
      font: italic 300 14px/1.4 Arial, sans-serif;
    }
  }
  &__comment {
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.5);
    height: 112px;
    margin-bottom: 5px;
    &::placeholder {
      color: #fff;
      font: italic 400 13px/1 Arial, sans-serif;
      vertical-align: baseline;
    }
  }
  &__button {
    padding: 5px 21px;
    background-color: #f41353;
    display: inline-block;
    position: relative;
    font: 700 14px/1.57 Lato, sans-serif;
    margin-right: 8px;
    color: #fff;
    &:before {
      content: " ";
      clip-path: polygon(50% 0%, 69% 50%, 50% 100%, 36% 50%);
      height: 100%;
      width: 50px;
      position: absolute;
      background-color: #f41353;
      bottom: 0;
      left: 78%;
    }
    &:hover {
      transform: skew(-10deg);
    }
  }
}
.ba-links{
display: flex;
flex-direction: column;
padding-left: 15px;
padding-bottom: 10px;
&__phone{
font: 300 16px/1.5 Lato, sans-serif;
}
&__email{
	font:16px/1.5 Lato, sans-serif;
	padding-top: 5px;
	font-weight: 300;
	text-decoration: underline;
}
}
.icon{
	height: 21px;
	width: 16px;
	fill:  #f41353;
	margin-right: 8px;
}
.ba-footer{
	background: #000;
	height: 115px;
	padding-left: 65px;
	padding-right: 40px;
	display:flex;
	justify-content: space-between;
	align-items: center;
&__logo{
display: inline-block;
padding-top: 10px;
}
&__copyright{
	font: 400 13px/2.46 Lato, sans-serif;
	color: #fff;
}
&__link{
	margin-top: 4px;
	display: inline-block;
	&:after {
		display: block;
		content: "";
		height: 2px;
		opacity: 0;
		margin-top: 4px;
		transform: translateY(-100%);
		background-color: #f41353;
		transition: 0.3s ease-in-out;
	 }
	 &:hover:after,
	 &:active:after,
	 &:focus:after {
		opacity: 1;
		transform: translateY(0);
	 }
	 &:active,
	 &:focus,
	 &:hover {
		color: #f41353;
	 }
}
}
.bodyContent {
  font: 400 14px/1.7 Lato, sans-serif;
}